<div class="birds">
</div>
<div class="container-fluid work">
    <div class="work-title text-center row">
        <span>
            work
        </span>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<div class="footer-menu show">
    <ul class="menu-items">
      <li class="menu-item menu-work" routerLink="/work">work</li>
      <li class="menu-item menu-prototypes">experience</li>
      <li class="menu-item menu-info">collobrate</li>
      <!-- <li class="menu-item menu-reel">reel</li> -->
    </ul>
  </div>